body {

}

.container {
    max-width: 800px;
    margin: 30px auto;
}

// Header


// Home

.intro {
    min-height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: colors(purple);
    color: white;

    @include breakpoint(medium) {
        font-size: 1.5rem;
    }
}